<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }} lesson">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
            {{ partial "page-meta-links.html" . }}
            {{ partial "toc.html" . }}
            {{ partial "taxonomy_terms_clouds.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-8 ps-md-5" role="main">
            {{ partial "version-banner.html" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            <div class="td-content page-content">
              <h1>{{ .Title }}</h1>
              {{ with .Params.description }}<div class="lead mb-1">{{ . | markdownify }}</div>{{ end }}
              {{ $image := .Resources.GetMatch (printf "*%s*" (.Params.leadimage)) }}
              {{ $videoUrl := .Params.videoUrl }}
              {{ with $image }}
                {{if $videoUrl}}
                  <div class="video-thumbnail" data-url="{{$videoUrl}}">
                    <img src="{{.RelPermalink}}" class="w-100 img-fluid mb-3 img-light-shadow" />
                    <div class="play-btn"><i class="fa fa-play"></i></div>
                  </div>
                {{end}}
              {{end}}
              {{.Content}}
              {{ $nextLesson := .PrevInSection }}
              {{ with $nextLesson }}
                <div class="lessons-item compact mt-5">
                  <div class="row no-gutters align-items-start align-items-lg-center">
                    <div class="col-12 col-md-6 col-lg-5 col-xl-4">
                      <a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="d-block">
                        {{ $image := .Resources.GetMatch (printf "*%s*" (.Params.leadimage)) }}
                        {{ $image := $image.Resize "556x" }}
                        {{ with $image }}
                          <img src="{{.RelPermalink}}" class="img-fluid img-light-shadow" />
                        {{end}}
                      </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7 col-xl-8">
                      <div class="content">
                        <small class="up-next-text">Up Next</small>
                        <h2><a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="hover-link">{{.Title}}</a></h2>
                        <p class="content-text">{{.Description}}</p>
                        <a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="btn-with-icon">
                          <span>Next</span>
                          <i class="fa fa-arrow-right"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {{ end }}
              {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
                {{ partial "feedback.html" .Site.Params.ui.feedback }}
                <br />
              {{ end }}
              {{ if (.Site.Params.DisqusShortname) }}
                <br />
                {{ partial "disqus-comment.html" . }}
              {{ end }}
              {{ partial "page-meta-lastmod.html" . }}
            </div>
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <style>
    .social-share > .reading-time {
      display: flex;
      align-items: center;
      margin: 0;
    }
  </style>
</html>
