# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db
.idea/

node_modules/

npm-debug.log

# hugo
functions
node_modules
package-lock.json
public
resources
# Local Netlify folder
.netlify

**/*.orig