######################
###  CODE OWNERS   ###
######################

# CODEOWNERS
/CODEOWNERS @HarshCasper @alexrashed

# pulumi
/content/en/user-guide/integrations/pulumi/ @lakkeger

# terraform
/content/en/user-guide/integrations/terraform/ @lakkeger

# network troubleshooting guide
/content/en/references/network-troubleshooting @simonrw @joe4dev @dfangl

# DNS server
/content/en/user-guide/tools/dns-server @simonrw @joe4dev @dfangl

######################
### SERVICE OWNERS ###
######################

# account
/content/en/user-guide/aws/account/ @silv-io

# acm
/content/en/user-guide/aws/acm/ @alexrashed

# amplify
/content/en/user-guide/aws/amplify/ @pinzon

# apigateway
/content/en/user-guide/aws/apigateway/ @calvernaz @bentsku

# appconfig
/content/en/user-guide/aws/appconfig/ @pandomic

# appsync
/content/en/user-guide/aws/appsync/ @simonrw @joe4dev

# athena
/content/en/user-guide/aws/athena/ @alexrashed

# cloudformation
/content/en/user-guide/aws/cloudformation/ @dominikschubert @pinzon @simonrw

# cloudfront
/content/en/user-guide/aws/cloudfront/ @giograno

# cloudtrail
/content/en/user-guide/aws/cloudtrail/ @steffyP

# cloudwatch
/content/en/user-guide/aws/cloudwatch/ @steffyP @pinzon

# codecommit
/content/en/user-guide/aws/codecommit/ @silv-io

# dynamodb
/content/en/user-guide/aws/dynamodb/ @viren-nadkarni @giograno

# elasticache
/content/en/user-guide/aws/elasticache/ @thrau @giograno @silv-io

# glue
/content/en/user-guide/aws/glue/ @alexrashed

# iam
/content/en/user-guide/aws/iam/ @dfangl @pinzon

# iot
/content/en/user-guide/aws/iot/ @viren-nadkarni

# kms
/content/en/user-guide/aws/kms/ @sannya-singal @silv-io

# lambda
/content/en/user-guide/aws/lambda/ @joe4dev @dominikschubert @dfangl

# logs
/content/en/user-guide/aws/logs/ @steffyP

# memorydb
/content/en/user-guide/aws/memorydb/ @silv-io

# mq
/content/en/user-guide/aws/mq/ @ackdav @giograno

# mwaa
/content/en/user-guide/aws/mwaa/ @viren-nadkarni

# opensearch
/content/en/user-guide/aws/opensearch/ @alexrashed @silv-io

# pipes
/content/en/user-guide/aws/pipes/ @joe4dev

# qldb
/content/en/user-guide/aws/qldb/ @simonrw

# ram
/content/en/user-guide/aws/ram/ @viren-nadkarni

# rds
/content/en/user-guide/aws/rds/ @steffyP

# route53
/content/en/user-guide/aws/route53/ @giograno

# s3
/content/en/user-guide/aws/s3/ @bentsku @macnev2013

# sagemaker
/content/en/user-guide/aws/sagemaker/ @silv-io @lukqw

# secretsmanager
/content/en/user-guide/aws/secretsmanager/ @dominikschubert @MEPalma

# servicediscovery
/content/en/user-guide/aws/servicediscovery/ @dominikschubert

# ses
/content/en/user-guide/aws/ses/ @viren-nadkarni

# sns
/content/en/user-guide/aws/sns/ @bentsku @thrau

# sqs
/content/en/user-guide/aws/sqs/ @thrau @baermat

# stepfunctions
/content/en/user-guide/aws/stepfunctions/ @dominikschubert @MEPalma

# textract
/content/en/user-guide/aws/textract/ @HarshCasper

# timestream
/content/en/user-guide/aws/timestream/ @ackdav

# transcribe
/content/en/user-guide/aws/transcribe/ @sannya-singal @ackdav

# xray
/content/en/user-guide/aws/xray/ @joe4dev
