<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
            {{ partial "page-meta-links-academy.html" . }}
            {{ partial "toc.html" . }}
            {{ partial "taxonomy_terms_clouds.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-8 ps-md-5" role="main">
            {{ partial "version-banner.html" . }}
            <div class="page-content">
                <h1 class="mt-2">{{ .Title }}</h1>
                {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
                {{ .Content }}

                <div class="section-index">
                  {{ $parent := .Page }}
                  {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
                  {{ $pages = (where $pages "Type" "!=" "search") }}
                  {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
                  {{ $pages = (where $pages ".Parent" "!=" nil) }}
                  {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}
                  {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
                  {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
                  {{ else }}
                  {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
                      {{ range $pages }}
                          <div class="course-item">
                            <div class="row no-gutters">
                                <div class="col-12 col-lg-6">
                                  <div class="content">
                                    <div class="inner">
                                      <h2><a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="hover-link">{{.Title}}</a></h2>
                                      <p>{{.Description}}</p>
                                    </div>
                                    {{ $lessons := .Pages }}
                                    {{ $maxLessonsLen := 5 }}

                                    <div class="lessons-list-container">
                                      {{ $visibleLessons := first $maxLessonsLen $lessons }}
                                      <small class="text-muted">{{ len $lessons }} lessons</small>
                                      <ul class="lessons-list list-unstyled">
                                        {{ range $visibleLessons }}
                                          <li class="lesson-list-item d-flex align-items-center justify-content-between">
                                            <p><a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="hover-link">{{ .Title }}</a></p>
                                            <p class="text-muted">{{.Params.length}}</p>
                                          </li>
                                        {{ end }}
                                      </ul>
                                      {{ if gt (len $lessons) $maxLessonsLen }}
                                        <small class="text-muted"><a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="hover-link">{{ sub (len $lessons) $maxLessonsLen }} more lessons</a></small>
                                      {{ end }}
                                    </div>

                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 d-none d-lg-block" style="text-align: center;">
                                  <a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="d-block">
                                    {{ $image := .Resources.GetMatch (printf "*%s*" (.Params.thumbnail)) }}
                                    {{ with $image }}
                                      <img src="{{.RelPermalink}}" class="img-fluid img-light-shadow" />
                                      {{end}}
                                  </a>
                                </div>
                            </div>
                            <a href="{{ .Permalink }}" title="{{.Params.linkTitle}}" class="btn-with-icon main-cta">
                              <span class="text-uppercase">Start the Course</span>
                              <i class="fa fa-arrow-right"></i>
                            </a>
                          </div>
                      {{ end }}
                  {{ end }}
              </div>

                {{ if (.Site.DisqusShortname) }}
                    <br />
                    {{ partial "disqus-comment.html" . }}
                {{ end }}
                {{ partial "page-meta-lastmod.html" . }}
            </div>
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <style>
    .social-share > .reading-time {
      display: flex;
      align-items: center;
      margin: 0;
    }
  </style>
</html>
