<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
            {{ partial "developer-hub/filters-sidebar.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            {{ partial "version-banner.html" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            <div class="td-content">
                <h1>{{ .Title }}</h1>
                {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
                <header class="article-meta">
                    {{ partial "taxonomy_terms_article_wrapper.html" . }}
                    {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
                        {{ partial "reading-time.html" . }}
                    {{ end }}
                </header>
                {{ .Content }}

                <div class="section-index">
                  {{ $parent := .Page }}
                  {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
                  {{ $pages = (where $pages "Type" "!=" "search") }}
                  {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
                  {{ $pages = (where $pages ".Parent" "!=" nil) }}
                  {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}
                  {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
                  {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
                  {{ else if $parent.Params.simple_list }}
                  {{/* If simple_list is true we show a bulleted list of subpages */}}
                      <ul>
                          {{ range $pages }}
                              {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
                              <li><a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a></li>
                          {{ end }}
                      </ul>
                  {{ else }}
                  {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
                  <hr class="panel-line">
                      {{ range $pages }}
                          {{ $manualLink := cond (isset .Params "manuallink") .Params.manualLink ( cond (isset .Params "manuallinkrelref") (relref . .Params.manualLinkRelref) .RelPermalink) }}
                          {{$services := cond (ne (len .Params.Services) 0)  (printf " service-%s" (delimit .Params.Services " service-")) "" }}
                          {{$deployment := cond (ne (len .Params.Deployment) 0)  (printf " deployment-%s" (delimit .Params.Deployment " deployment-")) "" }}
                          {{$platform := cond (ne (len .Params.Platform) 0)  (printf " platform-%s" (delimit .Params.Platform " platform-")) "" }}
                          {{$className := print $services $deployment $platform}}
                          <div class="entry filters-card{{$className}}"
                            data-services='{{cond (ne (len .Params.Services) 0) (delimit .Params.Services ",") ""}}'
                            data-deployments='{{cond (ne (len .Params.Deployment) 0) (delimit .Params.Deployment ",") ""}}'
                            data-platforms='{{cond (ne (len .Params.Platform) 0) (delimit .Params.Platform ",") ""}}'
                          >
                            <div class="row">
                              <div class="col">
                                <h5>
                                    <a href="{{ $manualLink }}"{{ with .Params.manualLinkTitle }} title="{{ . }}"{{ end }}{{ with .Params.manualLinkTarget }} target="{{ . }}"{{ if eq . "_blank" }} rel="noopener"{{ end }}{{ end }}>{{- .Title -}}</a>
                                </h5>
                                <p>{{ .Description | markdownify }}</p>
                              </div>
                            </div>
                          </div>
                          <div id="no-results" class="col-xs-12 flex-grow-1 text-center" style="display: none;">
                            No tutorials available with the selected filters.
                            <a href="javascript:void(0)" class="clear-filters-btn" >Clear filters</a>
                          </div>
                      {{ end }}
                  {{ end }}
              </div>


                {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
                    {{ partial "feedback.html" .Site.Params.ui.feedback }}
                    <br />
                {{ end }}
                {{ if (.Site.DisqusShortname) }}
                    <br />
                    {{ partial "disqus-comment.html" . }}
                {{ end }}
                {{ partial "page-meta-lastmod.html" . }}
            </div>
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <style>
    .social-share > .reading-time {
      display: flex;
      align-items: center;
      margin: 0;
    }
  </style>
  <script>
    var filtersConfig = {
      data: {
        services: {{.Site.Data.developerhub.services}},
        deployments: {{.Site.Data.developerhub.deployments}},
        platforms: {{.Site.Data.developerhub.platforms}},
      },
      hasCloudPod: false,
    };
  </script>
  <script src="{{ "js/filters-sidebar-script.js" | relURL }}"></script>
</html>
