// Same as .taxonomy-terms-cloud > .taxonomy-title
.toc-title {
    display: inline-block;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    color: $primary;
    border-bottom: 1px $primary solid;
    margin-bottom: 1em;
    padding-bottom: 0.375rem;
    margin-top: 1em;
}

.command-prefix {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// workaround for https://github.com/google/docsy/issues/694
@import "/css/shortcodes.css";

// doc overview grid (TODO: move to separate scss file)
.doc-overview-grid {

    & > p.lead {

    }

    & .card {
        max-width: 100%;
        background: $gray-100;
        margin-bottom: 1rem;

        & .card-text {
            font-size: 90%;
        }

        & p {
            color: $black;
        }

        & h5 {
            color: $primary;
        }
    }

    & a.card {
        min-height: 220px;
        display: block;
        transition: transform 100ms ease-in-out;

        & h5 {
            margin-top: 75px;
        }

        & .card-body {
            background-repeat: no-repeat;
            background-size: auto 60px;
            background-origin: content-box; // makes sure the parent padding is respected
        }
    }

    & a.card:hover {
        transform: scale(1.03); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        border-color: $gray-500;
    }

    & .card-getting-started .card-body {
        background-image: url("/images/rocket.svg");
    }

    & .card-integrations .card-body {
        background-image: url("/images/integrations.svg");
    }

    & .card-localstack-in-ci .card-body {
        background-image: url("/images/ci.svg");
    }

    & .card-local-aws-services .card-body {
        background-image: url("/images/aws.svg");
    }

    & .card-localstack-tools .card-body {
        background-image: url("/images/tools.svg");
    }

    & .card-understanding-localstack .card-body {
        background-image: url("/images/understanding.svg");
    }

    & .card-title i {
        font-size: 85%;
    }
}
