/*

Add styles or override variables from the theme here.

*/
$primary: #30638E !default;

// Same as .taxonomy-terms-cloud > .taxonomy-title
.toc-title {
    display: inline-block; 
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    color: $primary;
    border-bottom: 1px $primary solid;
    margin-bottom: 1em;
    padding-bottom: 0.375rem;
    margin-top: 1em;
  }