/*
Add styles or override variables from the theme here.
*/

@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700,800,900');

// Color system

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$yellow:   #ffe000;
$black:    #1d2d35;
$beige:    #fbf7f0;
// $red:      #e55235;
$purple:   #5d2f86;
$brown:    #aa9c84;

$blue-300: #8ed6fb;
$pink-500: #d32e9d;

// localstack blues
$blue-mid:   #6577E7;
$blue-dark:  #4755AC;

$dark-purple: #39227A;

$primary: $dark-purple;

// green variations for coverage docs
$dark-green: #005200;
$green: green;
$lighter-green: #00ad00;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret:                true;
$enable-rounded:              true;
$enable-shadows:              false;
$enable-gradients:            false;
$enable-transitions:          true;
$enable-reduced-motion:       true;
$enable-smooth-scroll:        true;
$enable-grid-classes:         true;
$enable-button-pointers:      true;
$enable-rfs:                  true;
$enable-validation-icons:     true;
$enable-negative-margins:     true;
$enable-deprecation-messages: true;
$enable-important-utilities:  true;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif:      "Exo", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:            $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-xl:                $font-size-base * 1.375;
$font-size-lg:                $font-size-base * 1.25;
$font-size-md:                $font-size-base * 1.125;
$font-size-sm:                $font-size-base * 0.875;
$font-size-xs:                $font-size-base * 0.75;

$line-height-base:            1.5;

$headings-font-family:        null;
$headings-font-weight:        800;

$lead-font-weight:            400;

// Body
//
// Settings for the `<body>` element.

$body-bg:                   #fbfbfb;
$body-color:                #1B183E;

// Links
//
// Style anchor elements.

$link-color:                              $primary;
$link-decoration:                         none;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12;
$grid-gutter-width:           48px;
$grid-row-columns:            6;

// Components
//
// Define common padding and border radius sizes and more.

$border-color:                $gray-200;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
  6: ($spacer * 5),
  7: ($spacer * 7),
  8: ($spacer * 9),
  9: ($spacer * 11),
  10: ($spacer * 13),
  11: ($spacer * 15),
  12: ($spacer * 17),
  13: ($spacer * 19),
  14: ($spacer * 21),
  15: ($spacer * 23),
  16: ($spacer * 25),
  17: ($spacer * 27),
);
