<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap min-height-100vh">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
            {{ partial "developer-hub/filters-sidebar.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            {{ partial "version-banner.html" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            <div class="td-content">
                <h1>{{ .Title }}</h1>
                {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
                <a href="javascript:void(0)" class="show-all-apps-btn" style="display: none;">Show all Applications</a>
                <header class="article-meta">
                    {{ partial "taxonomy_terms_article_wrapper.html" . }}
                    {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
                        {{ partial "reading-time.html" . }}
                    {{ end }}
                </header>
                {{ .Content }}

                <div class="section-index">
                    {{ $parent := .Page }}
                    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
                    {{ $pages = (where $pages "Type" "!=" "search") }}
                    {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
                    {{ $pages = (where $pages ".Parent" "!=" nil) }}
                    {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}
                    {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
                    {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
                    {{ else }}
                    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
                    <hr class="panel-line">

                    {{ $servicesData := $.Site.Data.developerhub.services }}
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="row">
                              {{ range $.Site.Data.developerhub.applications.applications }}
                                {{$services := cond (ne (len .services) 0)  (printf " service-%s" (delimit .services " service-")) "" }}
                                {{$deployment := cond (ne (len .deployment) 0)  (printf " deployment-%s" (delimit .deployment " deployment-")) "" }}
                                {{$platform := cond (ne (len .platform) 0)  (printf " platform-%s" (delimit .platform " platform-")) "" }}
                                {{$cloudpod := cond (eq (.cloudPods) true) " cloudpod-true" "" }}
                                <div class='entry col-xs-12 col-sm-6 col-md-4{{$services}}{{$deployment}}{{ $platform }}{{$cloudpod}}' data-services='{{cond (ne (len .services) 0) (delimit .services ",") ""}}' data-deployments='{{cond (ne (len .deployment) 0) (delimit .deployment ",") ""}}' data-platforms='{{cond (ne (len .platform) 0) (delimit .platform ",") ""}}' data-slug="{{.title | urlize}}">
                                    <div class="card h-100">
                                      <div>
                                        <img src="{{.teaser}}" >
                                      </div>
                                        <div class="card-body">
                                            <h5 class="card-title d-flex align-items-center">
                                              <a class="mr-2" href="{{ .url }}">
                                                  {{ with .title }}{{ . }}{{end}}
                                              </a>
                                            </h5>
                                            <div>
                                              {{ range .services }}
                                                <img src="/images/services/{{ . }}.svg" style="border-radius: 4px; max-width: 30px;margin-right: 5px; margin-top: 5px" data-toggle="tooltip" data-placement="top" title="{{index $servicesData .}}" aria-label="{{index $servicesData .}}">
                                              {{ end }}
                                              {{ with .pro }}
                                              <img src="/images/pro-badge.png" style="border-radius: 4px; max-width: 30px;margin-right: 5px; margin-top: 5px"  data-toggle="tooltip" data-placement="top" title="Localstack Pro" aria-label="Localstack Pro">
                                              {{ end }}
                                            </div>
                                            <div>
                                              {{ range .tags }}
                                                <a class="badge badge-primary no-text-decoration" target="_blank" style="font-weight: normal;" href="/tags/{{ . }}">{{ . }}</a>
                                              {{ end }}
                                            </div>
                                            <br>

                                            <p class="card-text" style="font-weight: normal;">{{.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}
                            <div class="no-results col-xs-12 flex-grow-1 text-center" style="display: none;">No applications available with the selected filters. <a href="javascript:void(0)" class="clear-filters-trigger" >Clear filters</a></div>

                            </div>
                            </div>
                        </div>

                    {{ end }}
                </div>

                {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
                    {{ partial "feedback.html" .Site.Params.ui.feedback }}
                    <br />
                {{ end }}
                {{ if (.Site.DisqusShortname) }}
                    <br />
                    {{ partial "disqus-comment.html" . }}
                {{ end }}
                {{ partial "page-meta-lastmod.html" . }}
            </div>
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    <script>
      var servicesData = {{.Site.Data.developerhub.services}}
      var deploymentsData = {{.Site.Data.developerhub.deployments}}
      var platformsData = {{.Site.Data.developerhub.platforms}}
    </script>
    {{ partial "scripts.html" . }}
  </body>
  <style>
    .social-share > .reading-time {
      display: flex;
      align-items: center;
      margin: 0;
    }
  </style>
  <script>
    var $items = $(".entry");
    var $noResults = $(".no-results");
    var $clearFiltersBtn = $(".clear-filters-trigger");
    var $showAllAppsBtn = $('.show-all-apps-btn')
    var filtersState = {
      services: [],
      deployments: [],
      platforms: [],
      cloudpods: [],
    };

    var checkboxItemHtmlGenerator = function (prefix, lookup, item) {
      return `
      <div class="custom-control custom-checkbox">
        <input type="checkbox" value="${prefix}-${item}" class="custom-control-input" id="${prefix}-${item}" aria-label="${prefix}-${item}">
        <label class="custom-control-label" for="${prefix}-${item}">${lookup[item] || item}</label>
      </div>
      `;
    };
    var buildFiltersUI = function () {
      let services = "",
        deployments = "",
        platforms = "";

      $items.each(function (_i, value) {
        let service = value.getAttribute("data-services"),
          platform = value.getAttribute("data-platforms"),
          deployment = value.getAttribute("data-deployments");

        services += service ? service.split(",") + "," : "";
        platforms += platform ? platform.split(",") + "," : "";
        deployments += deployment ? deployment.split(",") + "," : "";
      });

      // Set removes duplicates
      services = Array.from(new Set(services.slice(0, -1).split(",")));
      platforms = Array.from(new Set(platforms.slice(0, -1).split(",")));
      deployments = Array.from(new Set(deployments.slice(0, -1).split(",")));

      let servicesHtml = "",
        deploymentsHtml = "",
        platformsHtml = "";

      services.sort().map(function (service) {
        servicesHtml += checkboxItemHtmlGenerator("service", servicesData, service);
      });
      deployments.sort().map(function (deployment) {
        deploymentsHtml += checkboxItemHtmlGenerator("deployment", deploymentsData, deployment);
      });
      platforms.sort().map(function (platform) {
        platformsHtml += checkboxItemHtmlGenerator("platform", platformsData, platform);
      });

      $("#filters-services-container").html(servicesHtml);
      $("#filter-deployments-container").html(deploymentsHtml);
      $("#filter-platforms-container").html(platformsHtml);
    };

    var bindFilterEvents = function () {
      var $filterCheckboxes = $("#sidebar-filters-parent .custom-control-input");

      $clearFiltersBtn.on("click", function () {
        filtersState = Object.keys(filtersState).reduce(function (acc, item) {
          return Object.assign(acc, {[item]: []})
        }, {})
        $('aside').find($clearFiltersBtn).hide();
        $filterCheckboxes.prop("checked", false);
        updateApplicationsUI();
      });
      $filterCheckboxes.on("change", function (e) {
        let type = `${e.target.value.split("-")[0]}s`;
        let arr = e.target.checked
          ? filtersState[type].concat(e.target.value)
          : filtersState[type].filter(function (item) {
              return item !== e.target.value;
            });
        Object.assign(filtersState, { [type]: arr });
        updateApplicationsUI();
      });
    };

    var isFiltersApplied = function () {
      let applied = false;
      Object.keys(filtersState).forEach(function (key) {
        if (filtersState[key].length !== 0) applied = true;
      });
      return applied;
    };

    var updateApplicationsUI = function () {
      $noResults.hide();

      if (!isFiltersApplied()) {
        $('aside').find($clearFiltersBtn).hide();
        $items.show(); // Show all items if no filters are applied
        return;
      }

      $items.hide();
      $clearFiltersBtn.show();

      var $filteredItems = $items;
      Object.keys(filtersState).forEach(function (key) {
        let selector = filtersState[key].length === 1 ? filtersState[key][0] : filtersState[key].join(".");
        $filteredItems = $filteredItems.filter(selector !== "" ? `.${selector}` : "*");
      });
      $filteredItems.show();
      if ($filteredItems.length === 0) $noResults.show();
    };

    var filterByQueryString = function () {
      let queryString = window.location.search;
      let urlParams = new URLSearchParams(queryString);
      let id = urlParams.get("id");
      if (!id || !$(`[data-slug="${id}"]`).length) return;
      $items.not(`[data-slug="${id}"]`).hide();
      $showAllAppsBtn.show();
      $showAllAppsBtn.on('click', function () {
        $(this).remove();
        $items.show();
      })
    };

    buildFiltersUI();
    bindFilterEvents();
    filterByQueryString();
  </script>

</html>
