<!doctype html>
<html itemscope itemtype="http://schema.org/WebPage" lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="td-{{ .Kind }}{{ with .Page.Params.body_class }} {{ . }}{{ end }}">
    <header>
      {{ partial "navbar.html" . }}
    </header>
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row flex-xl-nowrap">
          <aside class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
            {{ partial "sidebar.html" . }}
          </aside>
          <aside class="d-none d-xl-block col-xl-2 td-sidebar-toc d-print-none">
            {{ partial "page-meta-links.html" . }}
            {{ partial "toc.html" . }}
            {{ partial "taxonomy_terms_clouds.html" . }}
          </aside>
          <main class="col-12 col-md-9 col-xl-8 pl-md-5" role="main">
            {{ partial "version-banner.html" . }}
            {{ if not .Site.Params.ui.breadcrumb_disable }}{{ partial "breadcrumb.html" . }}{{ end }}
            <div class="td-content">
                <h1>{{ .Title }}</h1>
                {{ with .Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
                <header class="article-meta">
                    {{ partial "taxonomy_terms_article_wrapper.html" . }}
                    {{ if (and (not .Params.hide_readingtime) (.Site.Params.ui.readingtime.enable)) }}
                        {{ partial "reading-time.html" . }}
                    {{ end }}
                </header>
                {{ .Content }}

                <div class="section-index">
                    {{ $parent := .Page }}
                    {{ $pages := (where .Site.Pages "Section" .Section).ByWeight }}
                    {{ $pages = (where $pages "Type" "!=" "search") }}
                    {{ $pages = (where $pages ".Params.hide_summary" "!=" true) }}
                    {{ $pages = (where $pages ".Parent" "!=" nil) }}
                    {{ $pages = (where $pages "Parent.File.UniqueID" "==" $parent.File.UniqueID) }}
                    {{ if or $parent.Params.no_list (eq (len $pages) 0) }}
                    {{/* If no_list is true or we don't have subpages we don't show a list of subpages */}}
                    {{ else }}
                    {{/* Otherwise we show a nice formatted list of subpages with page descriptions */}}
                    <hr class="panel-line">

                        <div class="row">
                            <div class="col-sm-12">
                            <div class="row">
                              {{ range $.Site.Data.developerhub.applications.applications }}
                                <div class="entry col-xs-12 col-md-4 ">
                                    <div class="card h-100">
                                      <div>
                                        <img src="{{.teaser}}" >
                                      </div>
                                        <div class="card-body">
                                            <h5 class="card-title d-flex align-items-center">
                                              <a class="stretched-link mr-2" href="{{ .url }}">
                                                  {{ with .title }}{{ . }}{{end}}
                                              </a>
                                            </h5>
                                            <div>
                                              {{ range .services }}
                                                <img src="/images/services/{{ . }}.svg" style="border-radius: 4px; max-width: 30px;margin-right: 5px">
                                              {{ end }}
                                              {{ with .pro }}
                                              <img src="/images/pro-badge.png" style="border-radius: 4px; max-width: 30px;margin-right: 5px">
                                              {{ end }}
                                            </div>
                                            <div>
                                              {{ range .tags }}
                                                <span class="badge badge-primary" style="font-weight: normal;">{{ . }}</span>
                                              {{ end }}
                                            </div>
                                          <p/>
                                            <p class="card-text" style="font-weight: normal;">{{.description}}</p>
                                        </div>
                                    </div>
                                </div>
                            {{ end }}

                            </div>
                            </div>
                        </div>

                    {{ end }}
                </div>
                
                {{ if (and (not .Params.hide_feedback) (.Site.Params.ui.feedback.enable) (.Site.GoogleAnalytics)) }}
                    {{ partial "feedback.html" .Site.Params.ui.feedback }}
                    <br />
                {{ end }}
                {{ if (.Site.DisqusShortname) }}
                    <br />
                    {{ partial "disqus-comment.html" . }}
                {{ end }}
                {{ partial "page-meta-lastmod.html" . }}
            </div>
          </main>
        </div>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ partial "scripts.html" . }}
  </body>
  <style>
    .social-share > .reading-time {
      display: flex;
      align-items: center;
      margin: 0;
    }
  </style>
</html>
