{{ $context := .context -}}
{{ $taxo := .taxo -}}

{{ if not (eq $taxo "persistence_support") }}
<!-- This branch contains the original docsy partial -->
  {{ if (gt (len ($context.GetTerms $taxo)) 0) -}}
  <div class="taxonomy taxonomy-terms-article taxo-{{ urlize $taxo }}">
    <h5 class="taxonomy-title">{{ humanize $taxo }}:</h5>
    <ul class="taxonomy-terms">
      {{ range ($context.GetTerms $taxo) -}}
        <li><a class="taxonomy-term" href="{{ .Permalink }}" data-taxonomy-term="{{ urlize .LinkTitle }}"><span class="taxonomy-label">{{ .LinkTitle }}</span></a></li>
      {{ end -}}
    </ul>
  </div>
  {{ end -}}
{{ else }}
<!-- Persistence taxonomy configuration -->
  {{ $taxonomy := $context.GetTerms $taxo }}
  {{ $supported := where $taxonomy ".LinkTitle" "eq" "supported" }}
  {{ $supportedLimit := where $taxonomy ".LinkTitle" "eq" "supported with limitations" }}
  {{ if or ($supported) ($supportedLimit) }}
  <div class="taxonomy taxonomy-terms-article taxo-{{ urlize $taxo }}">
    {{ $persistencePage := .Site.GetPage "/user-guide/state-management/support.md" }}
    <h5 class="taxonomy-title">Persistence:</h5>
    <ul class="taxonomy-terms">
      {{ range ($context.GetTerms $taxo) -}}
        <li>
          <a class="taxonomy-term" href="{{ $persistencePage.RelPermalink }}" data-taxonomy-term="{{ urlize .LinkTitle }}">
              <span class="taxonomy-label">{{ .LinkTitle }}</span>
          </a>
          </li>      
      {{ end -}}
    </ul>
  </div>
  {{ end -}}
{{ end -}}
