<div class="toc-title d-flex align-items-center justify-content-between">
  <span>Filters</span>
  <a href="javascript:void(0)" class="clear-filters-btn clear-filters-container align-items-center" style="display: none;">
    <i class="fas fa-circle-xmark mr-1"></i>
    <span>Clear filters</span>
  </a>
</div>
<div id="sidebar-filters-parent">
  <div class="filters-group">
    <h6>Services</h6>
    <div id="filters-services-container"></div>
  </div>
  <div class="filters-group">
    <h6>Infrastructure Provisioned</h6>
    <div id="filter-deployments-container"></div>
  </div>
  <div class="filters-group">
    <h6>Programming language</h6>
    <div id="filter-platforms-container"></div>
  </div>
  <div class="filters-group">
    <h6>Cloud Pods</h6>
    <div id="filter-cloudpods-container">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" value="cloudpod-true" class="custom-control-input" id="cloudpod-checkbox" aria-label="cloudpod-checkbox" />
        <label class="custom-control-label" for="cloudpod-checkbox">Yes</label>
      </div>
    </div>
  </div>
</div>
