<div class="coverage-report">
    <table>
        <thead>
            <tr>
            <th class="coverage-report-header-1">Service</th>
            <th class="coverage-report-header-2">Supported</th>
            <th class="coverage-report-header-1">Persistence Test Suite</th>
            <th class="coverage-report-header-2">Details</th>
            </tr>
        </thead>
        <tbody>  
            {{ partial "persistence/persistence_table_row" . }}
        </tbody>
    </table>
    <br/>
</div>