<div class="coverage-report">
    <table>
        <thead>
            <tr>
            <th class="coverage-report-header-1">Service</th>
            <th class="coverage-report-header-2">Supported</th>
            <th class="coverage-report-header-1">Persistence Test Suite</th>
            <th class="coverage-report-header-2">Limitations</th>
            </tr>
        </thead>
        <tbody>
            {{ $data := .Site.Data.persistence.coverage }}

            {{ range $data }}
                {{ partial "persistence/persistence_table_row" . }}
            {{ end -}}
        </tbody>
    </table>
    <br/>
</div>