{{/* Command shortcode. Current limitations: will interpret comments as root command (# prefixes will not be selectable, use ## if this is necessary)*/}}

{{ $inner := trim .Inner "\n" }}
{{ $inner = replaceRE `(?m)^\s*((?:\$|#)\s)` "###CUSTOM_PREFIX###$1###CUSTOM_PREFIX_END###" $inner}}
{{ $options := "" }}
{{ with .Get 0 }}
{{ $options = . }}
{{ end }}
{{ $highlighted := highlight $inner "text" $options }}
{{- replaceRE `###CUSTOM_PREFIX###((?:\$|#)\s)###CUSTOM_PREFIX_END###` "<span class=\"command-prefix\">$1</span>" $highlighted | safeHTML -}}
