{{ $repo := .Get "repo" }}
{{ $file := .Get "file" }}
{{ $ref := .Get "ref" }}
{{ $start := .Get "start" | default 1 | int }}
{{ $end := .Get "end" | default 999999 | int }}
{{ $lang := .Get "lang" }}
{{ $options := .Get "options" }}

{{ $url := printf "https://api.github.com/repos/%s/contents/%s" $repo $file }}
{{ if $ref }}
  {{ $url = printf "%s?ref=%s" $url $ref }}
{{ end }}

{{ $headers := dict "Accept" "application/vnd.github.v3.raw" }}
{{ $resp := resources.GetRemote $url (dict "headers" $headers) }}

{{ if not $resp }}
  {{ errorf "Failed to fetch content from GitHub: %s" $url }}
{{ end }}

{{ $lines := split $resp.Content "\n" }}
{{ $startIndex := sub $start 1 }}
{{ $linesToShow := last (sub $end $startIndex) (first $end $lines) }}

{{ $content := delimit $linesToShow "\n" }}
{{ if $lang }}
{{ highlight $content $lang $options }}
{{ else }}
{{ $content | safeHTML }}
{{ end }}
