{{ $repo := .Get "repo" }}
{{ $file := .Get "file" }}
{{ $ref := .Get "ref" }}

{{ $fileUrl := $file }}
{{ $section := "" }}
{{ if findRE "#" $file 1 }}
  {{ $fileParts := split $file "#" }}
  {{ $fileUrl = index $fileParts 0 }}
  {{ $section = index $fileParts 1 }}
{{ end }}

{{ $url := printf "https://api.github.com/repos/%s/contents/%s" $repo $fileUrl }}
{{ if $ref }}
  {{ $url = printf "%s?ref=%s" $url $ref }}
{{ end }}

{{ $headers := dict "Accept" "application/vnd.github.v3.raw" }}
{{ $resp := resources.GetRemote $url (dict "headers" $headers) }}

{{ if not $resp }}
  {{ errorf "Failed to fetch content from GitHub: %s" $url }}
{{ end }}

{{ $content := $resp.Content }}

{{ if $section }}
  {{ $lines := split $content "\n" }}
  {{ $sectionContent := slice }}
  {{ $inSection := false }}
  {{ $sectionLevel := 0 }}
  
  {{ range $lines }}
    {{ $line := . }}
    {{ if not $inSection }}
      {{ $headingMatch := findRE (printf "^(#+)\\s+.*%s.*$" $section) $line 1 }}
      {{ if $headingMatch }}
        {{ $heading := index $headingMatch 0 }}
        {{ $levelMatch := findRE "^(#+)" $heading 1 }}
        {{ $sectionLevel = len (index $levelMatch 0) }}
        {{ $inSection = true }}
        {{ $sectionContent = $sectionContent | append $line }}
      {{ end }}
    {{ else }}
      {{ $nextHeadingMatch := findRE "^(#+)\\s+" $line 1 }}
      {{ if $nextHeadingMatch }}
        {{ $nextLevel := len (index $nextHeadingMatch 0) }}
        {{ if le $nextLevel $sectionLevel }}
          {{ $inSection = false }}
        {{ else }}
          {{ $sectionContent = $sectionContent | append $line }}
        {{ end }}
      {{ else }}
        {{ $sectionContent = $sectionContent | append $line }}
      {{ end }}
    {{ end }}
  {{ end }}
  
  {{ if len $sectionContent }}
    {{ $content = delimit $sectionContent "\n" }}
  {{ end }}
{{ end }}

{{ $content | markdownify }}
