{{ $service := .Get "service" }}
{{ $data := index site.Data.coverage $service }}

<h2 id="Overview">Overview {{ $data.service }}</h2>
<div class="coverage-report">

    <table>
        <thead>
            <tr>
            <th>Operation</th>
            <th>Implemented</th>
            <th>Availability</th>
            <th>Internal Test Suite</th>
            <th>External Test Suite</th>
            <th>AWS Validated</th>
            <th>Snapshot Tested</th>
            <th>Details</th>
            </tr>
        </thead>
        <tbody>  
            {{ partial "coverage/coverage_table_row" $data }}
        </tbody>
    </table>
<br/>
{{ partial "coverage/coverage_details" $data }}
</div>